<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <!-- <script defer src="../header.js"></script> -->
    <link rel="stylesheet" href="../css.css">
    <script src="../javascript.js"></script>
</head>
<body>
<div id="header">
        <div align="left" id="topbuttons">
        <button class="buttons" id="homebutton" type="submit" onclick="gotohomepage()">home</button>
        <button class="buttons" id="aibutton" type="submit" onclick="gotoai()">ai check</button>
    </div>
</div>
</body>
</html>